<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="petstone.project.animalisland">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_animal_island"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_animal_island_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WebviewActivity"></activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.MypageInfoEditActivity" />
        <activity android:name=".activity.MypagePetfriendApplyActivity" />
        <activity android:name=".activity.MypageSellApplyActivity" />
        <activity android:name=".activity.PetfriendUserSelect" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.RehomeFreeSubmitActivity" />
        <activity android:name=".activity.RehomeSellSubmitActivity" />
        <activity android:name=".activity.SelectFreeRehomeActivity" />
        <activity android:name=".activity.SelectSellRehomeActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.WebviewActivity"/>
    </application>

</manifest>